<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Flask Tutorial</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}
    <center>
        <form method="post" action="/">
            <input type="submit" value="League Leaderboard" name="action1" />
            <div>
                <p></p>
            </div>
            <input type="submit" value="Player Statistics" name="action2" />
        </form>
    </center>
    <dvi><p></p></dvi>
    <p>Welcome to our small corner of the internet where we embarked on quite the journey. In search of some sports statistics to fuel our platform's database, we encountered the paywalls put up by almost every major media site for use of their APIs. So as broke college students, we were left with the unfortunate option of constructing our own web crawler (compliant with robots.txt of course) to scrape through mounds of html and acquire the elusive data.</p>
    {% endblock %}
  </body>
</html>