<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static',     filename='css/table.css') }}">
    </head>
    <body>
        <center>
            <table class="styled-table">
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Team</th>
                        <th>Points</th>
                        <th>Leading Player</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>Kelly</td>
                        <td>184</td>
                        <td>AJ Brown</td>
                    </tr>
                    <tr class="active-row">
                        <td>2</td>
                        <td>Sahil</td>
                        <td>179</td>
                        <td>Aaron Jones</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Drew</td>
                        <td>177</td>
                        <td>Josh Allen</td>
                    </tr>
                    <tr class="active-row">
                        <td>4</td>
                        <td>Tanner</td>
                        <td>163</td>
                        <td>Patrick Mahomes</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Anant</td>
                        <td>143</td>
                        <td>Joe Burrow</td>
                    </tr>
                </tbody>
            </table>
        </center>
    </body>
</html>
